*{
	margin: 0;
	padding: 0;
}
.center{
	position: absolute;
	width: 300px;
	height: 300px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.row{
	margin: 0 100px;
}
.square{
	width: 100px;
	height: 100px;
	float: left;
}	
.blue{
	background-color: #276CA2;
	box-shadow: 0 0 20px #276CA2; 
}
.violet{
	background-color: #624080;
	box-shadow: 0 0 20px #624080; 
}
.green{
	background-color: #2F893A;
	box-shadow: 0 0 20px #2F893A; 
}
.red{
	background-color: #A33830;
	box-shadow: 0 0 20px #A33830; 
}
.white{
	background-color: #F2EFF2;
	box-shadow: 0 0 5px 5px rgba(0,0,0,.5) inset;
	text-align: center;
	line-height: 100px;
}
.center-img{
	vertical-align: middle;
}