html,
body {
    height: 100%;
    behavior: url(csshover.htc);
}

.wrapper {
    height: 100%;
    min-height: 600px;
    min-width: 900px;
    position: relative;
    /*ie6 hack解决最小高度问题*/
    _height: expression((document.documentElement.clientHeight||document.body.clientHeight)<600?"600px": "");
    _width: expression((document.documentElement.clientWidth||document.body.clientWidth)<900?"900px": "");
}


/*头部样式*/

.header {
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
    height: 32px;
    color: #555;
    background: rgba(255, 255, 255, .7);
}


/*导航栏左侧*/

.nav-left {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    color: #333;
    font-size: 13px;
    line-height: 24px;
}

.nav-left>.nav-li-2 {
    margin-right: 20px;
}

.weather-wrapper {
    width: 163px;
    height: 32px;
    float: left;
    text-align: center;
    line-height: 32px;
}

.weather-icon {
    display: inline-block;
    background: url(../images/weather-logo1.png);
    height: 18px;
    width: 18px;
    line-height: 32px;
    vertical-align: middle;
}

.weater-grade {
    color: #badc00;
    font-weight: bold;
}


/*导航栏右侧*/

.page-nav {
    z-index: 2;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0 105px 0 0;
}

.page-nav>.nav-li,
.page-nav>.nav-li-2 {
    margin-left: 25px;
}

.nav-li {
    float: left;
    color: #333;
    font-weight: bold;
    line-height: 32px;
    font-size: 13px;
    text-decoration: underline;
}

.nav-li-2 {
    display: inline-block;
    float: left;
    color: #333;
    font-size: 13px;
    line-height: 32px;
    text-decoration: underline;
    cursor: pointer;
}

.nav-li-more {
    position: absolute;
    right: -2px;
    top: 0px;
    width: 85px;
    height: 32px;
    color: white;
    background: #38f;
    line-height: 32px;
    font-size: 13px;
    text-align: center;
    border-bottom: 1px solid #38f;
    margin-right: 2px;
    text-decoration: none;
}

.nav-li-more:hover {
    color: #fff;
}

.top-arrow {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
}


/*用户按钮下拉菜单样式*/

.myuser:hover .myuser-munu {
    display: block;
}

.myuser-munu {
    display: none;
    position: absolute;
    width: 70px;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    z-index: 20;
    right: 145px;
    top: 22px;
    margin-top: 10px;
}

.myuser-munu a {
    display: block;
    text-align: left;
    font-size: 12px;
    line-height: 26px;
    padding: 0 9px;
    text-decoration: none;
    color: #333;
}

.myuser-munu a:hover {
    background-color: #38f;
    color: #fff;
}


/*设置按钮的下拉菜单*/

.setting:hover .setting-munu {
    display: block;
}

.setting-munu {
    display: none;
    position: absolute;
    width: 70px;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    z-index: 20;
    right: 81px;
    top: 22px;
    margin-top: 10px;
}

.setting-munu a {
    display: block;
    text-align: left;
    font-size: 12px;
    line-height: 26px;
    padding: 0 9px;
    text-decoration: none;
    color: #333;
}

.setting-munu a:hover {
    background-color: #38f;
    color: #fff;
}

.top-arrow {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    top: -14px;
    left: 50%;
    margin-left: -7px;
}

.top-arrow em {
    top: -1px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    border: 7px solid transparent;
    border-style: dashed dashed solid dashed;
    border-bottom-color: #d8d8d8;
}

.top-arrow i {
    top: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    border: 7px solid transparent;
    border-style: dashed dashed solid dashed;
    border-bottom-color: #fff;
}


/*皮肤模块样式*/

.skin-wrapper {
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .07);
    position: absolute;
    top: 0px;
    background: #fff;
    display: none;
}

.skin-header {
    width: 911px;
    height: 46px;
    margin: 0 auto;
    font-size: 13px;
    color: #666;
    overflow: hidden;
}

.skin-header .skin-type {
    display: inline-block;
    line-height: 53px;
    padding: 0 8px;
    cursor: pointer;
    float: left;
    transition: all .3s;
}

.skin-type.active {
    background: #389cff;
    color: #fff;
}

.skin-type:hover {
    background: #389cff;
    color: #fff;
}

.skin-header .split {
    display: inline-block;
    line-height: 53px;
    font-size: 17px;
    float: left;
    color: #dedede;
    margin: 0 5px;
}

.skin-header .close {
    float: right;
    line-height: 53px;
    cursor: pointer;
    color: #0079f5;
    font-weight: bold;
}

.skin-header .no-skin {
    float: right;
    line-height: 53px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 20px;
}

.skin-header .no-skin:hover {
    color: #0079f5;
}

.skin-content {
    padding-top: 25px;
    font-size: 13px;
    color: #666;
    border-top: 1px #e3e3e3 solid;
    border-bottom: 1px #e3e3e3 solid;
}

.skin-content .skin-wrap {
    width: 911px;
    position: relative;
    margin: 0 auto;
}

.skins-show {
    width: 596px;
    overflow: hidden;
}

.skins-show > div {
    float: left;
    margin: 1px;
}

.small-skin {
    height: 59px;
}

.big-skin>img {
    width: 196px;
    height: 120px;
}

.small-skin>img {
    width: 97px;
    height: 59px;
}

.skin-pages {
    width: 596px;
    height: 32px;
}


/*skin页码*/

.skin-pages {
    padding: 5px 0 0 260px;
    box-sizing: border-box;
}

.s-skin-page li {
    display: inline-block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    overflow: hidden;
    padding-left: 260px;
}

.skin-bg-icon {
    font-size: 13px;
    background: url(../images/skin_icon.png) no-repeat -1000px -1000px;
    background-position: 8px -55px;
    width: 25px;
    height: 25px;
    float: left;
    cursor: pointer;
}

.skin-page-number.choose-page-btn {
    width: 15px;
    height: 25px;
    background-position: 4px -12px;
}

.skin-page-number {
    width: 15px;
    height: 25px;
    background-position: -11px -12px;
}

.skin-page-pre .skin-bg-icon:hover,
.skin-page-next .skin-bg-icon:hover {
    background-color: #eee;
}


/*右侧sidebar样式*/

.side-bar {
    width: 85px;
    background-color: #f9f9f9;
    border-left: 1px solid #e7e7e7;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    height: 100%;
    text-align: center;
    display: none;
}

.more-products-btn {
    height: 32px;
    line-height: 32px;
    font-size: 13px;
}

.more-products {
    font-size: 12px;
    overflow: scroll-y;
}

.sidebar-split {
    width: 50px;
    height: 1px;
    background-color: #ddd;
    margin: 10px auto;
}

.more-products a {
    color: #666;
    display: block;
    line-height: 20px;
}

.sidebar-icon {
    height: 36px;
    width: 36px;
    background: url(../images/right-icon.png);
    margin: 0 auto;
}

.more-products .music>div {
    background-position: -72px;
    width: 40px;
}

.more-products .pic>div {
    background-position: -112px;
}

.more-products .zhidao>div {
    background-position: -36px;
}

.more-products .wenku>div {
    background-position: -148px;
}

.more-products .paihang>div {
    background-position: -184px;
}

.more-products .tuiguang>div {
    background-position: -220px;
}


/*皮肤预览*/

.skin-preview {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
}

.preview-window {
    background: url(../images/skin_preview.png) no-repeat;
    background-position: -275px 0;
    width: 264px;
    height: 180px;
    position: absolute;
    top: 0;
    right: 0;
}

.now-skin {
    width: 264px;
    height: 180px;
}

.preview-word {
    margin-top: 8px;
    text-align: center;
}


/*页面皮肤*/

.page-skin {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}


/*表单样式*/

.baidu-search {
    width: 100%;
    height: 191px;
    text-align: center;
}

.search-inputs {
    width: 642px;
    font-size: 0;
    margin: 25px auto;
}

.search-inputs .search {
    width: 540px;
    height: 32px;
    border: 1px solid;
    border-color: #ccc transparent #ccc #ccc;
    text-indent: 5px;
    float: left;
    line-height: 32px;
    /*ie6、7hack 解决不支持transparent问题*/
    *border-color: #ccc #fff #ccc #ccc;
}

.search-inputs .search:hover {
    border-color: #999 transparent #b3b3b3 #999;
    *border-color: #999 #fff #b3b3b3 #999;
}

.search-inputs .search:focus {
    border-color: #4791ff transparent #4791ff #4791ff;
}

.search-inputs .search-submit {
    width: 100px;
    height: 36px;
    font-size: 15px;
    letter-spacing: 1px;
    background: #3385ff;
    border: 1px solid #2d78f4;
    color: #fff;
    cursor: pointer;
    float: left;
    /*ie6、7hack 解决搜索框黑框问题*/
    *border: 0;
}

.search-inputs .search-submit:hover {
    background-color: #317ef3;
    border-bottom: 1px solid #2868c8;
    box-shadow: 1px 1px 1px #ccc;
    top: 1px;
    cursor: pointer;
}


/*fixed-form表单样式*/

.fixed-serach {
    position: fixed;
    top: 0;
    box-shadow: 0 0 5px #888;
    height: 74px;
    width: 100%;
    background: #fff;
    /*background: rgba(255, 255, 255, .8);*/
    z-index: 300;
    text-align: center;
    /*box-sizing: border-box;*/
    display: none;
}

.fixed-serach form {
    margin: 19px auto;
}

.fixed-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -450px;
}


/*用户卡片*/

.user-cards {
    width: 893px;
    border: 1px solid #e9e9e9;
    background: #fff;
    margin: 50px auto;
    min-height: 360px;
}

.card-nav {
    border-bottom: 1px solid #e9e9e9;
    height: 38px;
    /*overflow: hidden;*/
}

.card-nav>ul>li {
    display: block;
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    cursor: pointer;
    float: left;
    font-size: 14px;
    width: 70px;
    box-sizing: border-box;
}

.card-nav>ul>li.my {
    width: 120px;
}

.card-nav>ul>li:hover {
    background: #b3b6bb;
    color: #fff;
}

.card-nav>ul>li.active {
    background: #9a9da2;
    color: #fff;
    font-weight: bold;
}

.mine-icon {
    width: 20px;
    height: 20px;
    background: url(../images/card_sprite.png) no-repeat -15px 0;
    display: inline-block;
    vertical-align: middle;
}

.my:hover .mine-icon {
    background-position: -144px 0;
}

.my.active .mine-icon {
    background-position: -144px 0;
}

.menu-icon {
    width: 18px;
    height: 18px;
    overflow: hidden;
    background: url(../images/card_sprite.png) no-repeat -121px -49px;
    float: right;
    margin: 11px 20px;
    cursor: pointer;
}

.menu-icon:hover {
    background: url(../images/card_sprite.png) no-repeat -121px -73px;
}


/*页卡内容css*/

.card-my {
    padding: 20px;
    display: none;
}

.mine-title {
    cursor: pointer;
}

.mine-title-icon {
    position: relative;
    z-index: 0;
    font-size: 0;
    height: 10px;
    width: 10px;
    display: inline-block;
}

.mine-title-icon em {
    position: absolute;
    top: 3px;
    left: 0;
    height: 0;
    line-height: 0;
    width: 0;
    font-size: 0;
    border: 5px dashed transparent;
    border-top: 5px solid #666;
}

.mine-title-text {
    line-height: 30px;
    height: 30px;
    font-weight: bold;
    font-size: 14px;
}

.split-line {
    width: 100%;
    height: 1px;
    background: #eee;
}

.my-none-pic {
    padding: 20px;
    text-align: center;
    position: relative;
}

.my-none-add-btn {
    position: absolute;
    width: 52px;
    height: 22px;
    right: 287px;
    top: 18px;
    cursor: pointer;
}

.manager-btn-text {
    height: 12px;
    margin-top: 10px;
    display: block;
    cursor: pointer;
}


/*推荐页卡*/

.card-push {
    padding: 20px;
    position: relative;
    /*display: none;*/
}

.s-news-list-wrapper {
    width: 538px;
}

.new-list-tip {
    font-size: 13px;
    color: #999;
    position: absolute;
    top: 9px;
    left: 200px;
    background: #fff;
    padding: 5px;
}

.s-news-item {
    min-height: 28px;
    padding: 20px 0;
    position: relative;
}

.s-news-item h2 {
    font-family: arial, 'Microsoft Yahei', '微软雅黑';
    display: inline-block;
    vertical-align: top;
    width: 354px;
    line-height: 30px;
    height: 70px;
}

.s-news-item img {
    display: inline-block;
}

.s-news-item h2>a {
    color: #000;
}

.s-news-item h2>a:hover {
    color: #07f;
}

.from {
    color: rgba(0, 0, 0, 0.5);
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
}

.src-net a {
    color: rgba(0, 0, 0, 0.5);
}


/*实时热点*/

.s-news-rank-wrapper {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 320px;
    box-sizing: border-box;
    padding: 20px 10px;
}

.s-rank-title .title-text {
    font-weight: bolder;
    margin-bottom: 15px;
}

.s-rank-title .title-text a {
    text-decoration: none;
    color: #333;
}

.hot-refresh span {
    float: right;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
}

.hot-refresh-icon {
    width: 20px;
    height: 16px;
    background: url(../images/news_sprite.png) -23px -25px no-repeat;
    vertical-align: bottom;
}

.hot-refresh span:hover {
    color: #07f;
}

.s-rank-keywords li {
    position: relative;
    padding-left: 10px;
    width: 130px;
    height: 34px;
    line-height: 34px;
    color: #333;
    font-size: 14px;
    float: left;
    margin-right: 10px;
}

.s-rank-keywords li:before {
    content: "";
    display: block;
    position: absolute;
    top: 17px;
    left: 0;
    width: 3px;
    height: 3px;
    background: #666;
}

.s-rank-keywords li.hot:after {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
    height: 20px;
    width: 17px;
    background: url(../images/news_sprite.png) 0 -98px no-repeat;
}


/*导航页卡*/

.card-daohang {
    padding: 20px;
    position: relative;
    display: none;
}

.card-daohang >div >a {
    display: inline-block;
    background-color: #fcfcfc;
    margin: 10px 20px 0 0;
}

.card-daohang >div a:hover {
    border: 1px solid;
    border-color: rgba(0, 0, 0, .05);
    margin: 9px 19px -1px -1px;
}


/*回到顶部*/

.back-to-top {
    position: fixed;
    left: 50%;
    margin-left: 455px;
    width: 40px;
    height: 40px;
    bottom: 40px;
    border: 1px solid #e3e3e3;
    background-color: #fafafa;
    text-align: center;
    font-size: 15px;
    padding: 3px;
    box-sizing: border-box;
    cursor: pointer;
    color: #999;
    display: none;
}

.back-to-top .icon-mask {
    display: none;
}

.back-to-top .arrow-top {
    display: block;
    height: 17px;
    width: 33px;
    margin: 0 auto;
    position: absolute;
    top: 12px;
    background: url(../images/arrow_top.png) no-repeat -1px -10px;
}

.back-to-top:hover .icon-mask {
    display: block;
}

.back-to-top:hover .arrow-top {
    display: none;
}


/*footer样式*/

.footer {
    width: 100%;
    text-align: center;
}

.ftConw {
    display: inline-block;
    width: 334px;
    height: 55px;
    text-align: left;
    font-size: 12px;
    margin-left: 33px;
    position: relative;
    top: -12px;
    _zoom: 1;
    *display: inline;
}

.footer-line1 {
    margin: 16px 0 5px;
    text-align: center;
}

.ftConw .footer-line1 a {
    color: #272727;
    margin-right: 20px;
}

.footer-line2 {
    color: #666;
}

.footer-line2 a {
    color: #666;
}

.line2-icon {
    width: 14px;
    height: 17px;
    display: inline-block;
    overflow: hidden;
    background: url(../images/icons_d99e5dac.png) no-repeat;
    background-position: -600px -96px;
    position: relative;
    top: 3px;
}