body{
	background: #eee;
	position: relative;
}
.one-pic{
	width: 200px;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: #fff;
	margin: 10px;
	float: left;
	box-shadow: 0 0 1px 1px #ddd;
	box-sizing: border-box;
	border-radius: 2px;
}
.one-pic img{
	width: 100%;
}