.container{
	min-width: 1040px;
}
/*网页头部*/
.header{
	height: 495px;
	background: url(../images/header-bg.jpg) no-repeat;
	background-position: center;
	box-sizing:border-box;
}
/*top-info style*/
.top-info{
	font-size: 11px;
	height: 42px;
	color: #fff;
	width: 960px;
	margin: 0 auto;
}
.top-info .phone,.e-mail{
	float: left;
	margin: 10px 0 0 30px;
}
.top-info .language{
	float: right;
	margin: 10px 30px 0 0;
}
/*top-info icon style*/
.top-info div i{
	display: inline-block;
	background: url(../images/sprite.png) no-repeat;
    position: relative;
    top: 2px;

}
.top-info .phone-icon{
	height: 12px;
	width: 16px;
	background-position: 0 -120px;
}
.top-info .mail-icon{
	width: 15px;
	height: 10px;
	background-position: -17px -121px;
}
.top-info .lang-icon{
	width: 18px;
	height: 11px;
 	background-position: -35px -120px;
}
.top-info .down-icon{

}
/*nav style*/
.header .nav{
	height: 81px;
	background: url(../images/header-nav-background.jpg) repeat-x;
	position: relative;
}
/*nav-content position&style*/
.nav .nav-content{
	height: 76px;
	width: 960px;
	overflow: hidden;
	margin: 0 auto;
    position: relative;
    top: 1px;
}
.nav-content .logo{
	width: 87px;
	height: 36px;
	background: url(../images/sprite.png) no-repeat;
	background-position: -188px -117px;
	float: left;
	margin: 20px;
}
.nav-content .nav-menu{
	float: right;
	height: 100%;
	margin-right: 10px;
}
.nav-content .nav-menu div{
	height: 75px;
	float: left;
	width: 88px;
	line-height: 75px;
	text-align: center;
	font-size: 14px;
	font-family: Myriad Pro;
    cursor: pointer;
}
.nav-content .nav-menu > div.action{
	background: url(../images/nav-action.jpg) repeat-x;
}
.nav-content .nav-menu > div:hover{
	background: url(../images/nav-action.jpg) repeat-x;
}
/*nav-input style*/
.nav-menu .nav-input{
	width: 100px;
	height: 35px;
    margin: 16px 0 0 50px;
    background: transparent;    
    outline: none;
    box-shadow: 0 0 1px #c3d0d8;
    border-radius: 13px;
    text-indent: 10px;
    border: 1px solid #c3d0d8;
    color: #808080;
    padding-right: 40px;
}
.nav-menu .search-btn{
    width: 22px;
    height: 21px;
    background: url(../images/sprite.png) no-repeat;
    background-position: -65px -105px;
    position: absolute;
    right: 19px;
    top: 26px;
    border: none;
}
/*content style*/
.content .content-one{
	height: 472px;
	background: url(../images/HomePage_03.jpg) no-repeat;
	background-position: center;
}
/*content-two style*/
.content .content-two{
	background: url(../images/page-content.jpg) no-repeat;
	background-position: center;
	height: 943px;
	position: relative;
}
.goods-introduce{
	height: 350px;
    padding: 220px 0;
    width: 1040px;
    margin: 0 auto;
}
.goods-introduce > div{
	float: left;
	width: 222px;
	height: 350px;
	background: url(../images/goods.jpg) no-repeat;
    margin: 0 19px;
    position: relative;
    text-align: center;
}
.goods-introduce div .grade{
	font-size: 14px;
	color: #fff;    
	display: block;
	width: 50px;
	text-align: center;
    margin: 15px auto 0;
    font-weight: bold;
}
.goods-introduce div .price{
	font-size: 17px;
	color: #fff;
	display: block;
	margin: 2px auto;
    width: 50px;
    text-align: center;
    font-weight: bold;
}
/*introduces style*/
.introduces{
    margin: 155px 0 0 40px;
}
.introduces span{
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #637988;
	margin-top: 5px;
	text-align: left;
}
.introduces .nike{
	display: inline-block;
    background: url(../images/sprite.png) no-repeat;
    width: 20px;
    height: 12px;
    background-position: -90px -110px;
}
.goods-introduce > div > button{
	width: 96px;
	height: 35px;
	border: none;
    background: url(../images/goods-btn.jpg) repeat-x;
    border-radius: 11px;
    color: #fff;
    margin-top: 12px;
    font-weight: bold;
}
/*customer-plan style*/
.content-two .customer-plan{
	width: 129px;
	height: 35px;
	border: none;
	background: url(../images/goods-btn.jpg) repeat-x;
    border-radius: 11px;
    color: #fff;
    position: absolute;
    bottom: 0px;    
    position: absolute;
    bottom: 41px;
    left: 44%;
    font-weight: bold;
}
/*footer style*/
.footer{
	height: 378px;
	background: url(../images/page-footer.png) no-repeat;
	background-position: center;
}
.footer .footer-content{
	width: 960px;
	height: 250px;
	margin: 0 auto;
	color: #fff;
}
.footer-content > div{
	width: 240px;
	float: left;
}
.footer-content h4{
	font-size: 17px;
	margin: 0;
	padding: 25px 0;
}
.footer-content li{
	padding-bottom:17px;
	font-size: 11px;
}
.fooer-blog span{
	font-size: 14px;

}
.fooer-blog p{
	font-size: 11px;
}
.fooer-blog .read-more{
	text-align: right;
	font-size: 11px;
}
.footer-social i{
	background: url(../images/sprite.png) no-repeat;
	display: inline-block;
	width: 23px;
	height: 21px;
	margin-right: 10px; 
}
.footer-social .icon-facebock{
	background-position: 4px -132px;
}
.footer-social .icon-twitter{
	background-position: -35px -132px;
}
.footer-social .icon-google{
	background-position: -76px -132px;
}
.footer-social .icon-youtube{
	background-position: -117px -132px;
}
.footer-social .icon-soho{
	background-position: -157px -132px;
}

