/*设置动画关键帧*/
@keyframes rotate {
	0%{
		transform: rotateX(0deg) rotateY(0deg);
	}
	100%{
		transform: rotateX(360deg) rotateY(360deg);
	}
}
/*设置页面背景*/
html {
	background: linear-gradient(pink 0%,black 100%);
	height: 100%;
}
/*设置动画和3d视角*/
.wrap {
	margin-top: 200px;
	perspective: 1000px;
}
.cube {
	margin: auto;
	height: 180px;
	width: 180px;
	position: relative;
	transform-style: preserve-3d;
	transform: rotateX(-30deg) rotateY(-20deg);
	animation: rotate 10s infinite linear;
}
/*外部魔方样式*/
.cube > div {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #fff;
	transition: all .5s ease-in;
}
.cube > div > div {
	width: 58px;
	height: 58px;
	float: left;
	border: 1px solid #000;
	box-sizing: border-box;
	border-radius: 20%;
	margin: 1px;
}
/*设置外部魔方3d旋转*/
.cube .front {
	transform: translateZ(90px);
}
.cube .back {
	transform: translateZ(-90px) rotateY(180deg);
}
.cube .left {
	transform: translateX(-90px) rotateY(-90deg);
}
.cube .right {
    transform: translateX(90px) rotateY(90deg);
}
.cube .top {
    transform: translateY(-90px) rotateX(90deg);
}
.cube .bottom {
    transform: translateY(90px) rotateX(-90deg);
}
/*设置外部魔方背景色*/
.cube .front > div { 
	background-color: red;
}
.cube .back > div { 
	background-color: blue;
}
.cube .left > div { 
	background-color: yellow;
}
.cube .right > div { 
	background-color: green;
}
.cube .top > div { 
	background-color: orange;
}
.cube .bottom > div { 
	background-color: violet;
}
/*外部魔方炸开动画*/
.wrap:hover .front {
	transform: translateZ(150px);
}
.wrap:hover .back {
	transform: translateZ(-150px) rotateY(180deg);
}
.wrap:hover .left {
	transform: translateX(-150px) rotateY(-90deg);
}
.wrap:hover .right {
    transform: translateX(150px) rotateY(90deg);
}
.wrap:hover .top {
    transform: translateY(-150px) rotateX(90deg);
}
.wrap:hover .bottom {
    transform: translateY(150px) rotateX(-90deg);
}
/*内部魔方样式*/
.cube .in{
	width: 100px;
	height: 100px;
	background-color: grey;
	border: 1px solid #000;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
	line-height: 100px;
	color: #fff;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
.cube .in-front {
	transform: translateZ(50px);
}
.cube .in-back {
	transform: translateZ(-50px) rotateY(180deg);
}
.cube .in-left {
	transform: translateX(-50px) rotateY(-90deg);
}
.cube .in-right {
    transform: translateX(50px) rotateY(90deg);
}
.cube .in-top {
    transform: translateY(-50px) rotateX(90deg);
}
.cube .in-bottom {
    transform: translateY(50px) rotateX(-90deg);
}